:root {
  --font-main: 'Open Sans', system-ui;
  --font-secondary: 'Lora', serif;
  --font-S: 14px;
  --font-M: 18px;
  --font-L: 22px;
  --font-XL: 26px;
  --font-LOGO: 32px;

  --font-S-mobile: 12px;
  --font-M-mobile: 14px;
  --font-L-mobile: 18px;
  --font-XL-mobile: 24px;
  --font-LOGO-mobile: 26px;

  --z-level-1: 5;
  --z-level-2: 10;
  --z-level-3: 15;
  --z-level-4: 20;

  --heigth-header: 80px;
}
