.ThemeSwitcher {
  gap: 20px;
}
.text {
  font-size: var(--font-l);
}

@media (max-width: 930px) {
  .ThemeSwitcher {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .text {
    text-transform: uppercase;
    font-size: var(--font-M-mobile);
  }
}
